@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Inter:wght@400;600&family=Alata&display=swap');
:root {
  --tea-rose-red: #FBC4C9ff;    /* primary background color */
  --seashell: #FDEEE7ff;        /* secondary background color */
  --eggplant: #60405Aff;        /* primary text color */
  --dark-eggplant: #3d2236ff;  /* dark eggplant color */
  --pistachio: #A8D18Dff;       /* background contrast color */
  --misty-rose: #FDE7E9ff;      /* highlight color */
  --bakermiller-pink: #F292ADff;    /* accent highlight color */
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Luckiest Guy', cursive;
  font-size: 68px;
  line-height: 1.2;
  margin-bottom: 10px;
}

h2 {
  font-family: 'Luckiest Guy', sans-serif;
  font-size: 38px;
  line-height: 1.3;
  font-weight: 400;
}


h3 {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}

p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

p.tagline {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  color: var(--dark-eggplant);
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 24px;
  font-style: italic;
}


.app {
  color: var(--eggplant);
  background-color: var(--tea-rose-red); /* Full-screen background */
  font-weight: 400;
  word-break: break-all;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: hidden; /* Prevent overflow issues */
}