/* div {
	border: 1px solid red;
} */

.home-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 24px;
}

.categories {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
	gap: 24px;
	width: 100%;
	justify-items: start;
	align-items: start; /* ensures top alignment for all items */
}

.category, .add-category {
	/* border: 1px solid var(--eggplant); */
	padding: 16px;
	text-align: center;
	box-shadow: 0 2px 8px rgba(0,0,0,0.04);
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	width: 180px;      /* Fixed width for all categories */
	max-width: 180px;  /* Prevent growing larger */
	min-width: 180px;  /* Prevent shrinking smaller */
	background-color: var(--tea-rose-red);
	transition: transform 0.2s;
	cursor: pointer;
}

.category:hover, .add-category:hover {
	transform: scale(1.2);
	color: var(--dark-eggplant);

}

.add-category {
	background-color: var(--pistachio);
}

.category-image, .add-image {
	width: 150px;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	margin-bottom: 12px;
	background-color: var(--misty-rose);
	border: 1px solid;
	border-radius: 8px;
}

