/* div {
	border: 1px solid red;
} */

.home-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 24px;
}
.mood-form {

	text-align: center;
	background-color: var(--misty-rose);
	padding: 2%;
	border: solid 1px var(--eggplant);
}

.mood-buttons, .current-moods {
	display: flex;
	flex-direction: row;
	gap: 24px;
	flex-wrap: wrap;
}

.current-moods {
	align-items: center;
	margin-bottom: 24px;
}

.categories {
	display: flex;
	gap: 24px;
	flex: 1 1 0;
}