.start-button {
  border: none;
  background: none;
  color: var(--eggplant);
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 40px;
}

.start-button:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: var(--dark-eggplant);
}


.start-container {
  display: flex;
  flex-direction: column;
  padding: 100px;
  align-items: center;
}

.hero-logo {
  width: 125px;
  height: 125px;
  object-fit: contain;
}