.styleguide-logo {
	border: 2px solid var(--eggplant);
	padding: 2%;

	height: auto;
	border-radius: 8px;
	background-color: var(--misty-rose);
	aspect-ratio: 1 / 1;
	object-fit: contain;
}

.styleguide-logo-usage {
	display: flex;
	gap: 24px;
}

.styleguide-subsection {
	border-bottom: 2px solid var(--eggplant);
	padding-bottom: 24px;
}


.styleguide-tagline {
	text-align: center;
	background-color: var(--misty-rose);
	border-radius: 8px;
	padding: 2%;

}

/* Color Palette */
.styleguide-color-palette {
	display: flex;
	flex-direction: column;
	gap: 24px;
}
.styleguide-color-swatch {
	display: flex;
	gap: 24px;
	align-items: center;
}

.styleguide-color-box {
	width: 80px;
	height: 80px;
	border: 2px solid var(--eggplant);
	border-radius: 8px;
}
.styleguide-color-box.tea-rose-red {
	background-color: #FBC4C9;
}

.styleguide-color-box.seashell {
	background-color: #FDEEE7;
}

.styleguide-color-box.eggplant {
	background-color: #60405A;
}

.styleguide-color-box.dark-eggplant {
	background-color: #3d2236;
}

.styleguide-color-box.pistachio {
	background-color: #A8D18D;
}

.styleguide-color-box.misty-rose {
	background-color: #FDE7E9;
}

.styleguide-color-box.bakermiller-pink {
	background-color: #F292AD;
}

/* Typography */
.styleguide-typography{
	display: flex;
	flex-direction: column;
	gap: 34px;
}


.styleguide-typography-sample {
	text-align: center;
	background-color: var(--misty-rose);
	border-radius: 8px;
	padding: 2%;
}

.styleguide-typography-sample.styleguide-heading-sample {
	font-family: 'Luckiest Guy', cursive;
	font-size: 38px;
	line-height: 1.2;
}

.styleguide-typography-sample.styleguide-subheading-sample {
	font-family: 'Inter', sans-serif;
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;
}

.styleguide-typography-sample.styleguide-body-sample {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

.styleguide-typography-sample.styleguide-tagline-sample {
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	font-style: italic;
	color: var(--dark-eggplant);
}

/* Navigation */
.top-nav.example-nav {
	border: 4px solid;
}

/* Remove hover effects for example nav icons */
.nav-icon.example-nav:hover {
	/* No hover effect */
	cursor: auto;
	transform: none;
	color: var(--eggplant);
}

.example-container {
	background-color: var(--misty-rose);
	border-radius: 8px;
	padding: 2%;
	text-align: start;
	align-items: center;
}